<footer>
    <div class="waves">
        <div class="wave" id="wave1"></div>
        <div class="wave" id="wave2"></div>
        <div class="wave" id="wave3"></div>
        <div class="wave" id="wave4"></div>
    </div>
    <div class="footer__icons">
        <a class="footer__icon">
            <i class="fa-brands fa-facebook-f"></i>
        </a>
        <a class="footer__icon">
            <i class="fa-brands fa-instagram"></i>
        </a>
        <a class="footer__icon">
            <i class="fa-brands fa-youtube"></i>
        </a>
        <a class="footer__icon">
            <i class="fa-solid fa-envelope"></i>
        </a>
    </div>
    <div class="footer__links">
        <a href="/" class="footer__link">
            Ana Səhifə
        </a>
        <a href="/education" class="footer__link">
            Tədris
        </a>
        <a href="/vacancy" class="footer__link">
            Vakansiyalar
        </a>
        <a href="/about" class="footer__link">
            Haqqımızda
        </a>
        <a href="/contact" class="footer__link">
            Əlaqə
        </a>
    </div>
    <h5 class="God_of_Site">by Ali Aghayev</h5>
</footer>