<header>
    <div class="header__location">
        <span>
            Ünvan: AF Mall, 3-cü mərtəbə, Səməd Vurğun küç. 34 &nbsp;&nbsp; TEL: (050) 773 34 52
        </span>
    </div>
    <nav class="header__nav">
        <div class="nav__left">
            <a class="logo" href="/">
                <img src="./src/images/logobig.png" />
            </a>
        </div>
        <div class="nav__mid">
            <ul class="header__nav__links">
                <li class="header__nav__item">
                    <a class="header__nav__link" href="/">Ana səhifə</a>
                </li>
                <li class="header__nav__item">
                    <a class="header__nav__link" href="/education">Tədris</a>
                </li>
                <li class="header__nav__item">
                    <a class="header__nav__link" href="/vacancy">Vakansiyalar</a>
                </li>
                <li class="header__nav__item">
                    <a class="header__nav__link" href="/about">Haqqımızda</a>
                </li>
                <li class="header__nav__item">
                    <a class="header__nav__link" href="/contact">Əlaqə</a>
                </li>
            </ul>
        </div>
        <div class="nav__right">
            <a href="https://www.facebook.com/orderhub.az/" class="nav__link">
                <i class="fa-brands fa-facebook-f"></i>
            </a>
            <a href="https://instagram.com/evocoding.az?igshid=YmMyMTA2M2Y=" class="nav__link">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="https://youtube.com/watch?v=DeDekPSCY-E&list=LL&index=27" class="nav__link">
                <i class="fa-brands fa-youtube"></i>
            </a>
            <div class="menu__icon">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </nav>
    <div class="hamburger__menu">
        <div class="hamburger__menu__bg">
            <div class="hamburger__link">
                <a class="" href="/">Ana Səhifə</a>
                <a class="" href="/education">Tədris</a>
                <a class="" href="/vacancy">Vakansiyalar</a>
                <a class="" href="/about">Haqqımızda</a>
                <a class="" href="/contact">Əlaqə</a>
                <div class="hamburger__icons">
                    <a href="https://www.facebook.com/orderhub.az/">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                    <a href="https://instagram.com/evocoding.az?igshid=YmMyMTA2M2Y=">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a href="https://youtube.com/watch?v=DeDekPSCY-E&list=LL&index=27">
                        <i class="fa-brands fa-youtube"></i>
                    </a>
                    <a href="https://goo.gl/maps/19Cmr2pPzbVuCLK5A">
                        <i class="fa-solid fa-location-pin"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>