<section class="about">
    <h1 class="about__title">Biz Kimik ?</h1>
    <div class="about__content">
        <div class="about__row">
            <div class="about__row__content">
                <div class="about__content__image">
                    <img src="../src/images/about/1.jpg">
                </div>
                <div class="about__content__text">
                    <p>
                        Deməli oturmuşduq çay içirdik. 1
                    </p>
                </div>
            </div>
        </div>
        <div class="about__row">
            <div class="about__row__content">
                <div class="about__content__text">
                    <p>
                        Deməli oturmuşduq çay içirdik. 2
                    </p>
                </div>
                <div class="about__content__image">
                    <img src="../src/images/about/2.jpg">
                </div>

            </div>
        </div>
        <div class="about__row">
            <div class="about__row__content">
                <div class="about__content__image">
                    <img src="../src/images/about/3.jpg">
                </div>
                <div class="about__content__text">
                    <p>
                        Deməli oturmuşduq çay içirdik. 3
                    </p>
                </div>
            </div>
        </div>
        <div class="about__row">
            <div class="about__row__content">
                <div class="about__content__text">
                    <p>
                        Deməli oturmuşduq çay içirdik. 3
                    </p>
                </div>
                <div class="about__content__image">
                    <img src="../src/images/about/4.png">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about__ending">
    <h2>Sən də bizimlə birlikdə ola bilərsən :)</h2>
</section>