<section class="education__section">
    <div class="education__input__container">
        <input class="education__input" type="text" id="feducation" placeholder="Axtar">
    </div>
    <div class="education__content">
        <div class="education__catagories">
            <button class="education__hamburger">
                Katogoriya seç
                <i class="fa-solid fa-caret-down"></i>
            </button>
            <ul class="education__list" id="education-list">
            </ul>
        </div>
        <div class="education__cards">

        </div>
    </div>
</section>